.App {
    text-align: center;
}

html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #dcedc8;
    font-size: 15px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

.background-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
	background-image: url("img/bck.jpg");
}

.container-box {
    padding-top: 100px;
    padding-bottom: 100px;
}

.primary-btn {
    border: 1px solid transparent;
    border-radius: 10px;
    color: #6b6b6b;
    background-color: #dcedc8;
    border-color: #dcedc8;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    text-align: center;
    width: 160px;
    height: 46px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
     -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    line-height: 45px;
    position: relative;
    z-index: 1;
}


.primary-btn:hover {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #dcedc8;
    border-color: #8ba072;
}

.secondary-btn {
    border: 1px solid transparent;
    border-radius: 10px;
    color: #8ba072;
    background-color: #8ba072;
    border-color: #8ba072;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 46px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
     -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    line-height: 45px;
    position: relative;
    z-index: 1;
}



.secondary-btn:hover {
    border: 1px solid #8ba072;
    border-radius: 10px;
    color: black;
    background-color: #dcedc8;
    border-color: #8ba072;

}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

.main-section {
    height: 900px;
    padding-top: 280px;
    background-position: 100% 0;
    background-size: 50%;
}

.main-section-text span {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.main-section-text h1 {
    font-size: 65px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 18px;
	font-family: 'Montserrat', sans-serif;
}

.main-section-text h5 {
    color: #ffffff;
    margin-bottom: 100px;
	font-family: 'Caveat', cursive;
	font-size: 30px;
}

.main-section-text p{
    color: #ffffff;
    margin-bottom: 44px;
}

.title1 {
	
}

.font-16 {
    font-size: 16px;
}

.small-margin {
    padding: 0xp;
    margin-bottom: 1px;
}

.register-section {
    background: #dcedc8;
    padding-top: 200px;
    margin-top: -135px;
}

.text-vertical-center {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    min-height: 25px;
}

.check-icon {
    margin-right: 2px;
    display: inline-block;
    color: #fff;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.icon-text {
    margin-right: 10px;
    display: inline-block;
}

.recipe-margin {
    margin-left: 2.5%;
    margin-right: 2.5%;
    min-width: 60%;
}

.recipe-text {
    font-size: 13px;
}

.register-text {
    padding: 20px 30px 20px 30px;
    background: #ffffff;
    margin-right: -15px;
}

.register-text .register-form label {
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 11px;
}

.register-text .register-form input {
    width: 100%;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 14px;
    color: black;
    margin-bottom: 18px;
}

.register-text .allergy-form label {
    display: inline-flex;
    font-size: large;
    color: #9b9b9b;
    margin-right: 20px;
}

.register-text .allergy-form input {
    width: 30px;
    height: 46px;
    border: 1px solid #ebebeb;
    padding-left: 20px;
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 14px;
}

.profile-button {
    border-radius: 5px;
    border: 1px solid #8ba072;
    min-height: 35px;
    background-color: #dcedc8;
    margin-top: 10px;
}

.profile-button:hover {
    border-radius: 5px;
    border: 1px solid #8ba072;
    min-height: 35px;
    background-color: #cadbb5;
}

.recipe-pane {
    min-height: 800px;
}

.recipe-detailed {
    max-width: 50%;
    min-height: 800px;
}

.bottom-recipe-row {
    border-radius: 0 0 10px 10px;
    border: 0px;
    width: 100%;
    height: 35px;
    background-color: #b7caa2;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom-recipe-row:hover {
    border-radius: 0 0 10px 10px;
    border: 0px;
    width: 100%;
    height: 35px;
    background-color: #8ba072;
    padding-right: 0;
    padding-left: 0;
}

.recipe-color-p {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.register-text .register-form .register-btn1 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#8ba072), to(#b7caa2));
    background: -o-linear-gradient(left, #8ba072, #b7caa2);
    background: linear-gradient(to right, #8ba072, #b7caa2);
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 30px;
	float: left;
}

.register-text .register-form .register-btn2 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#b7caa2), to(#8ba072));
    background: -o-linear-gradient(left, #b7caa2, #8ba072);
    background: linear-gradient(to right, #b7caa2, #8ba072);
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 30px;
	float: right;
}

.register-text .allergy-form .register-btn1 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#8ba072), to(#b7caa2));
    background: -o-linear-gradient(left, #8ba072, #b7caa2);
    background: linear-gradient(to right, #8ba072, #b7caa2);
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 30px;
	float: left;
}

.register-text .allergy-form .register-btn2 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#b7caa2), to(#8ba072));
    background: -o-linear-gradient(left, #b7caa2, #8ba072);
    background: linear-gradient(to right, #b7caa2, #8ba072);
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 30px;
	float: right;
}

.register-text .allergy-form .register-btn3 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    width: 30%;
    background: -webkit-gradient(linear, left top, right top, from(#ddbce8), to(#cfaddb));
    background: -o-linear-gradient(left, #ddbce8, #cfaddb);
    background: linear-gradient(to right, #ddbce8, #cfaddb);
    border: none;
    padding: 12px 0;
    cursor: pointer;
    margin-top: 30px;
	float: right;
}

.register-pic {
    margin-left: -15px;
}

.register-pic img {
    height: 502px;
}

.form-register .steps {
    margin-bottom: 40px;
    margin-top: 40px;
}

.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
}

.form-register .steps li,
.form-register .steps li.current {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.form-register .steps li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin-right: 140px;
    position: relative;
    outline: none;
}

.form-register .steps li a::before {
    position: absolute;
    content: "";
    background: #e5e5e5;
    width: 140px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transfrm: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 100%;
}

.form-register .steps li.last a {
    margin-right: 0;
}

.form-register .steps li.last a::before {
    content: none;
}

.form-register .steps li.current a,
.form-register .steps li.current a:active,
.form-register .steps li.done a::before,
.form-register .steps li.done a,
.form-register .steps li.done a:active {
    background: #aabb97;
}

.form-register .steps li .current-info {
    display: none;
}

.form-register .steps li .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.nutrients-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #8ba072;
    transition: width .6s ease;
}

.nutrients-info-box p{
    font-size: 0.75rem!important;
    padding-right: 10px;
    padding-left: 10px;
}

.progress {
    background-color: white;
    width: 90%;
}

.ingredients {
    text-align: left;
}

.ingredients p {
    font-size: 12px;
}

.ingredients .primary-btn {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.left-column {
    background-color: #f3f3f3;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 25px;
}

.left-column h5 {
    margin-bottom: 20px;
}

.left-column p {
    margin-bottom: 5px;
    font-size: medium;
}

.left-column .primary-btn {
    width: 60%;
    border: none;
    background-color: transparent;
}

.left-column button {
    margin-top: 0;
}

.nutrient-intake {
    height: 50%;
    position: relative;
    margin-top: 40%;
    font-size: 0.75rem;
}

.nutrient-intake h6 {
    margin-bottom: 20px;
}

.nutrient-row p{
    font-size: 0.75rem;
}

.nutrient-nav {
    font-size: 0.75rem;
}

.breakfast {
    margin-top: 5%;
}

img {
    max-width: 150px;
}

.menu {
    margin-left: 10%;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
}

#nav-tab {
    width: 90%;
    font-size: 12px;
    margin-left: 5%;
}

a {
    color: #aabb97;
}

.tab-pane .row {
    margin-bottom: 5%;
}

.modal-body {
    /* background-image: url('img/bck.jpg'); */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, .6);
}


.recipe h5 {
    margin-bottom: 10px;
}

.h-15 {
    max-height: 20px;
    margin-top: 0px;
}

.headerRecipe {
    background-color: #b7caa2;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid white;
}

.image-border {
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 15px;
}

.title-recipe {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600;
}

.colRecipe {
    background-color: #f1f1f1;
    border-bottom: 1px solid white;
}

.recipe-list {
    font-size: 13px;
    padding-left: 30px;
}

.lucky-draw .bg-light {
    background-color: transparent!important;
}

.menu h5 {
    margin-bottom: 10px;
}

.menu h6 {
    margin-bottom: 10px;
}

.fillDiv {
    width: 100%;
    display: block;
}

.dateDiv {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.pinkButton {
    background-color: #ac8fb6;
}

.profileArea {
    margin-bottom: 5%;
}

.question {
    margin-bottom: 20px;
    font-size: large;
}

.div-bg {
	background-color: #dcedc8;
}


.suggestion-btn {
    border-radius: 5px;
    color: #ffffff;
    background-color: #4e7934;
    border-color: #4e7934;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    border: none;
    /*border: 4000;*/
    text-align: center;
    width: 240px;
    height: 38px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    line-height: 36px;
    position: relative;
    z-index: 1;
}

    .suggestion-btn:hover {
        border: 1px solid #4e7934;
        border-radius: 5px;
        color: #ffffff;
        background-color: #1a4709;
        border-color: #4e7934;
    }

.recipe-btn {
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    border: none;
    /*border: 4000;*/    
    border-color: #ffffff;
    background-color: #dcedc8;
    color: #6b6b6b;
    text-align: center;
    width: 120px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    line-height: 38px;
    position: relative;
    z-index: 1;
}

    .recipe-btn:hover {
        border: 1px solid #8ba072;
        border-radius: 5px;
        color: #6b6b6b;
        background-color: #dcedc8;
        border-color: #8ba072;
    }

    .recipe-btn:focus {
        outline: none;
        box-shadow: none;
    }

.cancel-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #8ba072;
    border-color: #8ba072;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 90px;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    line-height: 36px;
    position: relative;
    z-index: 1;
}

    .cancel-btn:hover {
        border: 1px solid #8ba072;
        border-radius: 5px;
        color: #ffffff;
        background-color: #1a4709;
        border-color: #8ba072;
    }

.confirm-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #4d7e29;
    border-color: #4d7e29;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 90px;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    line-height: 36px;
    position: relative;
    z-index: 1;
}

.confirm-btn:hover {
    border: 1px solid #4d7e29;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1a4709;
    border-color: #4d7e29;
}

.headerLucky {
    background-color: #debfe8;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid white;
}

.div-bg-m {
    overflow-y: hidden;
}

.logout-column {
    text-align: right;
}

.logout-button {
    border-radius: 5px;
    border: 1px solid #b7caa2;
    min-height: 35px;
    background-color: white;
    margin-top: 10px;
}

.logout-button:hover {
    border-radius: 5px;
    border: 1px solid #b7caa2;
    min-height: 35px;
    background-color: #cadbb5;
}

.meal {

}

.meal:hover {
    border: 2px solid #ccc;
} 

.nutrients-progress {
    height: 65%;
}


.main-page-white {
    border-radius: 5%;
}

.single-meal {
    padding: 0px!important;
}

.login-button {
	border: 1px solid transparent;
	border-radius: 8px;
    color: #8ba072;
    background-color: #cfaddb;
    border-color: #cfaddb;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 230px;
    height: 70px;
    background-position: 0 0, 0 100%;
    line-height: 45px;
    position: relative;
    z-index: 1;
	margin-right:35px;
}


.login-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.login-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.login-button:hover span {
	padding-right: 25px;
}

.login-button:hover span:after {
	opacity: 1;
	right: 0;
}

.signin-button {
	border: 1px solid #cfaddb;
	border-radius: 8px;
    color: #8ba072;
    background-color: transparent;
    border-color: #cfaddb;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 70px;
    background-position: 0 0, 0 100%;
    line-height: 45px;
    position: relative;
    z-index: 1;
	margin-right:10px;
}

.country-col {
	padding-bottom:20px;
}

.radio-button {
    font-size: large;
    text-align: center;
    line-height: 46px;
    padding-left: 10px;
    vertical-align: middle;
}

.container {
    max-width: 95%;
}

.meal-hover {
    cursor: pointer;
}